<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Hello <%= @user.email %> and thank you for your order !</h1>
  <p>
    You just checked out your order, thank you !
  </p>
  <p>
    See you soon on <%= @url %> !
  </p>
</body>
</html>